# Ignore everything
*
*/**

# Include only the files that should be in the .vsix
!out/src/extension.js
!out/webviews/**/*
!README.md
!CHANGELOG.md
!LICENSE
!KNOWN_ISSUES.md
!md-images/**/*
!images/**/*
!node_modules/@vscode/codicons/dist/*